.paper {
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xl);
  border: 2px solid
    light-dark(var(--mantine-color-main-bg-dark-9), var(--mantine-color-main-bg-dark-0));
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-main-bg-dark-9));
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.paper:hover {
  transform: scale(1.01);
  box-shadow: 15px 8px 16px rgba(0, 0, 0, 0.2);
}
